* {
    --var-rojo: #c83f3f;
    --var-rojoAcento: #db8282;
    --var-rojoHover: #ffe5e5;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body.page {
    font-family: "Press Start 2P", system-ui;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #fdfdfd;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
    list-style-type: none;
}

.pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    border: 3px solid #dc3838;
    border-radius: 5px;
}

.pokedex__title {
    width: 200px;
}

.search {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.search__input,
.search__select {
    width: 100%;
    padding: 10px 0;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    border: 2px solid var(--var-rojoAcento);
    border-radius: 5px;
}

.search__input:focus {
    border-color: var(--var-rojo);
}

option {
    min-height: 2rem;
}

.search__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 100px;
    padding: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search__button:hover {
    background-color: rgb(174, 212, 227);
}

.search__icon {
    width: 30px;
}

.search__results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
    font-size: 0.9rem;
    text-align: left;
}

.search__data {
    font-weight: bold;
}

.search__value {
    font-weight: normal;
}

.search__link {
    display: flex;
    justify-content: center;
}

.search__image {
    min-width: 150px;
    max-width: 250px;
}

.extra__button, button {
    margin-top: 2rem;
    font-family: "Press Start 2P", system-ui;
    padding: 10px 20px;
    border: 2px solid var(--var-rojoAcento);
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.extra__button:hover, button:hover {
    background-color: var(--var-rojoHover);
}

.pokedex__extra {
    margin-top: 2rem;
}

.pokemon__stats-list, .pokemon__moves-list {
    display: flex;
    flex-direction: column;
    padding: 0;
}